version: "3.9"

services:

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: docker

  redis:
    image: redis:7
    ports:
      - "6379:6379"