spring:
  datasource:
    url: jdbc:mysql://localhost:3306/clinic_db
    username: clinic_user
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true